# virtualenv
/venv

# top level static and media folders
/static
/media

# settings file containing secrets
d120/settings_secrets.py

# compiled python binaries
*.pyc

# compiled localization
*.mo

# sqlite testing database
*.db
