# major packages where new versions might introduce incompatibilities
# test new major versions and update this file accordingly
Django==2.2.27
django-cms==3.8.0

# a bunch of packages installed without regarding their versions
# when (temporary) pinning of versions is necessary, comment on the reasoning
djangocms-bootstrap4==2.0.0
djangocms-history==2.0.0
djangocms-link==3.0.0
djangocms-redirect==0.6.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-column==1.11.0
django-filer==2.0.2
django-auth-ldap==2.2.0
django-redis==5.2.0
django-select2==7.4.2
django-sslserver==0.22
mysqlclient==2.0.3
pytz==2022.1
#djangocms-forms
djangocms-cascade==1.3.4
bleach==4.1.0
django-treebeard==4.4 # necessary, else NodeAlreadySaved appeared

django-git-version==0.1.0

#git+https://github.com/divio/djangocms-attributes-field
git+https://github.com/andersinno/django-rss-plugin            # install from source until PyPi release is up to date
git+https://github.com/pawelmarkowski/cmsplugin-filer
