# major packages where new versions might introduce incompatibilities
# test new major versions and update this file accordingly
Django<2.2
django-cms

# a bunch of packages installed without regarding their versions
# when (temporary) pinning of versions is necessary, comment on the reasoning
django-import-export
djangocms-bootstrap4
cmsplugin-filer
# djangocms-colum
djangocms-history
djangocms-inherit
djangocms-link
djangocms-redirect
djangocms-style
djangocms-text-ckeditor
django-auth-ldap
django-redis
django-select2<6.0
django-sslserver
mysqlclient
pytz
#djangocms-forms

#git+https://github.com/divio/djangocms-attributes-field
git+https://github.com/andersinno/django-rss-plugin            # install from source until PyPi release is up to date
git+https://github.com/divio/djangocms-column               # install from source until PyPi release is up to date

# own packages installed from git
#git+https://github.com/d120/pyBuchaktion@v1.2.0
git+https://github.com/d120/django-git-version
