# major packages where new versions might introduce incompatibilities
# test new major versions and update this file accordingly
Django<1.9
django-cms<3.4

# a bunch of packages installed without regarding their versions
aldryn-bootstrap3
cmsplugin-filer
cmsplugin-simple-markdown
djangocms-column
djangocms-inherit
djangocms-link
djangocms-style
djangocms-text-ckeditor
django-auth-ldap
django-reversion
mysqlclient
pytz
