{% load i18n menu_tags cache %}

{% for child in children %}
    {% if child.attr.headline %}
        <li class="headline">{{ child.attr.headline}}</li>
    {% endif %}
    {% if child.attr.additional_margin %}
        <li class="{% if child.menu_level == 0 %}{% if child.selected or child.ancestor %}sidebar-active{% endif %}{% endif %} additionalMargin">
    {% else %}
        <li class="{% if child.menu_level == 0 %}{% if child.selected or child.ancestor %}sidebar-active{% endif %}{% endif %}">
    {% endif %}
    <a href="{{ child.get_absolute_url }}"><span class="{% if child.selected %}sidebar-active-link{% endif %}">{{ child.get_menu_title }}</span></a>
    {% if child.children %}
        <ul class="menuIndent">
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
    {% endif %}
    </li>
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}
