{% load cms_tags static menu_tags sekizai_tags page_color %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="{% page_attribute 'meta_description' %}" />
        <title>
        {% block title %}
            {% page_attribute "page_title" %} - Fachschaft Informatik
        {% endblock title %}
        </title>
        <link rel="canonical" href="https://www.fachschaft.informatik.tu-darmstadt.de{{ request.path }}" />
        <link rel="icon" type="image/png" href="{% static 'd120/img/favicon.ico' %}" />
        {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontsource-libre-franklin/index.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'd120/css/custom.css' %}" />
        {% endaddtoblock %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
            {% placeholder "content" %}
        </div>
        {% addtoblock "js" %}
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        {% endaddtoblock %}
        {% render_block "js" %}
    </body>
</html>
