{% load menu_tags %}
<nav class="navbar navbar-light navbar-expand-lg">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar">
        <ul class="nav nav-fill sidebar-nav">
            {% show_menu 1 5 0 1 "menu.html" %}
        </ul>
    </div>
</nav>
